Repository Quviq/ouroboros-network, changes with the owners that .github/CODEOWNERS names for each.
All owners: @dcoutts, @coot, @karknu, @nfrisby, @EncodePanda, @input-output-hk/consensus-superowners, @njd42, @peterwthomson, @input-output-hk/devops

Add "how to" for IOSimPOR
  io-sim/how-to-use-IOSimPOR.txt
Owners: @dcoutts, @coot

Clean up governor tests a bit
  ouroboros-network/test/Test/Ouroboros/Network/PeerSelection.hs
Owners: @dcoutts, @coot, @karknu

foo
  io-sim/how-to-use-IOSimPOR.txt
  ouroboros-network/ouroboros-network.cabal
  ouroboros-network/test/Test/Ouroboros/Network/PeerSelection.hs
  ouroboros-network/test/Test/Ouroboros/Network/PeerSelection/PeerGraph.hs
Owners: @dcoutts, @coot, @karknu

IOSim POR
  cabal.project
  io-classes/io-classes.cabal
  io-sim-classes/src/Control/Monad/Class/MonadTest.hs
  io-sim/io-sim.cabal
  io-sim/src/Control/Monad/IOSim/Types.hs
  io-sim/src/Control/Monad/IOSimPOR.hs
  io-sim/src/Control/Monad/IOSimPOR/Internal.hs
  io-sim/src/Control/Monad/IOSimPOR/QuickCheckUtils.hs
  io-sim/src/Control/Monad/IOSimPOR/Timeout.hs
  io-sim/test/Test/Control/Monad/IOSimPOR.hs
  io-sim/test/Test/IOSim.hs
  ouroboros-network/ouroboros-network.cabal
  ouroboros-network/src/Ouroboros/Network/PeerSelection/LocalRootPeers.hs
  ouroboros-network/test/Test/Ouroboros/Network/PeerSelection.hs
  ouroboros-network/test/Test/Ouroboros/Network/PeerSelection/LocalRootPeers.hs
  ouroboros-network/test/Test/Ouroboros/Network/PeerSelection/MockEnvironment.hs
  ouroboros-network/test/Test/Ouroboros/Network/PeerSelection/PeerGraph.hs
  ouroboros-network/test/Test/Ouroboros/Network/PeerSelection/Script.hs
  ouroboros-network/test/Test/Ouroboros/Network/ShrinkCarefully.hs
Owners: @dcoutts, @coot, @karknu, @nfrisby, @EncodePanda, @input-output-hk/consensus-superowners

Clean up governor tests a bit
  ouroboros-network/test/Test/Ouroboros/Network/PeerSelection.hs
Owners: @dcoutts, @coot, @karknu

Add "how to" for IOSimPOR
  io-sim/how-to-use-IOSimPOR.txt
Owners: @dcoutts, @coot

foo
  io-sim/how-to-use-IOSimPOR.txt
  ouroboros-network/ouroboros-network.cabal
  ouroboros-network/test/Test/Ouroboros/Network/PeerSelection.hs
  ouroboros-network/test/Test/Ouroboros/Network/PeerSelection/PeerGraph.hs
Owners: @dcoutts, @coot, @karknu

Governor tests compiling
  cabal.project
  io-classes/src/Control/Monad/Class/MonadTest.hs
  io-sim/io-sim.cabal
  io-sim/src/Control/Monad/IOSim/Types.hs
  ouroboros-network/test/Test/Ouroboros/Network/PeerSelection.hs
  ouroboros-network/test/Test/Ouroboros/Network/PeerSelection/MockEnvironment.hs
Owners: @dcoutts, @coot, @karknu, @nfrisby, @EncodePanda, @input-output-hk/consensus-superowners

Add "how to" for IOSimPOR
  io-sim/how-to-use-IOSimPOR.txt
Owners: @dcoutts, @coot

Clean up governor tests a bit
  ouroboros-network/test/Test/Ouroboros/Network/PeerSelection.hs
Owners: @dcoutts, @coot, @karknu

IOSim POR
  cabal.project
  io-classes/io-classes.cabal
  io-sim-classes/src/Control/Monad/Class/MonadTest.hs
  io-sim/io-sim.cabal
  io-sim/src/Control/Monad/IOSim/Types.hs
  io-sim/src/Control/Monad/IOSimPOR.hs
  io-sim/src/Control/Monad/IOSimPOR/Internal.hs
  io-sim/src/Control/Monad/IOSimPOR/QuickCheckUtils.hs
  io-sim/src/Control/Monad/IOSimPOR/Timeout.hs
  io-sim/test/Test/Control/Monad/IOSimPOR.hs
  io-sim/test/Test/IOSim.hs
  ouroboros-network/ouroboros-network.cabal
  ouroboros-network/src/Ouroboros/Network/PeerSelection/LocalRootPeers.hs
  ouroboros-network/test/Test/Ouroboros/Network/PeerSelection.hs
  ouroboros-network/test/Test/Ouroboros/Network/PeerSelection/LocalRootPeers.hs
  ouroboros-network/test/Test/Ouroboros/Network/PeerSelection/MockEnvironment.hs
  ouroboros-network/test/Test/Ouroboros/Network/PeerSelection/PeerGraph.hs
  ouroboros-network/test/Test/Ouroboros/Network/PeerSelection/Script.hs
  ouroboros-network/test/Test/Ouroboros/Network/ShrinkCarefully.hs
Owners: @dcoutts, @coot, @karknu, @nfrisby, @EncodePanda, @input-output-hk/consensus-superowners

foo
  io-sim/how-to-use-IOSimPOR.txt
  ouroboros-network/ouroboros-network.cabal
  ouroboros-network/test/Test/Ouroboros/Network/PeerSelection.hs
  ouroboros-network/test/Test/Ouroboros/Network/PeerSelection/PeerGraph.hs
Owners: @dcoutts, @coot, @karknu

Governor tests compiling
  cabal.project
  io-classes/src/Control/Monad/Class/MonadTest.hs
  io-sim/io-sim.cabal
  io-sim/src/Control/Monad/IOSim/Types.hs
  ouroboros-network/test/Test/Ouroboros/Network/PeerSelection.hs
  ouroboros-network/test/Test/Ouroboros/Network/PeerSelection/MockEnvironment.hs
Owners: @dcoutts, @coot, @karknu, @nfrisby, @EncodePanda, @input-output-hk/consensus-superowners

Put back all the package source locations that cabal repl deleted
  cabal.project
Owners: @dcoutts, @coot, @karknu, @nfrisby, @EncodePanda, @input-output-hk/consensus-superowners

Put back the package source locations again that cabal deleted, I put back, then git deleted again
  cabal.project
Owners: @dcoutts, @coot, @karknu, @nfrisby, @EncodePanda, @input-output-hk/consensus-superowners

Add race exploration in governor nolivelock test
  ouroboros-network/test/Test/Ouroboros/Network/PeerSelection.hs
  ouroboros-network/test/Test/Ouroboros/Network/PeerSelection/MockEnvironment.hs
Owners: @dcoutts, @coot, @karknu

Add IOSimPOR, a version of the IO simulator that reverses races. See io-sim/how-to-use-IOSimPOR.txt for details.
  cabal.project
  io-classes/io-classes.cabal
  io-classes/src/Control/Monad/Class/MonadTest.hs
  io-sim/how-to-use-IOSimPOR.txt
  io-sim/io-sim.cabal
  io-sim/src/Control/Monad/IOSim/Types.hs
  io-sim/src/Control/Monad/IOSimPOR.hs
  io-sim/src/Control/Monad/IOSimPOR/Internal.hs
  io-sim/src/Control/Monad/IOSimPOR/QuickCheckUtils.hs
  io-sim/src/Control/Monad/IOSimPOR/Timeout.hs
  io-sim/test/Test/Control/Monad/IOSimPOR.hs
  io-sim/test/Test/IOSim.hs
Owners: @dcoutts, @coot, @karknu, @nfrisby, @EncodePanda, @input-output-hk/consensus-superowners

Adapt "prop_governor_nolivelock" in the PeerSelection tests to explore races. Tests fail at the moment, because an assertion fails in PeerSelection.Governor.ActivePeers when two races are reversed.
  ouroboros-network/ouroboros-network.cabal
  ouroboros-network/src/Ouroboros/Network/PeerSelection/LocalRootPeers.hs
  ouroboros-network/test/Test/Ouroboros/Network/PeerSelection.hs
  ouroboros-network/test/Test/Ouroboros/Network/PeerSelection/LocalRootPeers.hs
  ouroboros-network/test/Test/Ouroboros/Network/PeerSelection/MockEnvironment.hs
  ouroboros-network/test/Test/Ouroboros/Network/PeerSelection/PeerGraph.hs
  ouroboros-network/test/Test/Ouroboros/Network/PeerSelection/Script.hs
  ouroboros-network/test/Test/Ouroboros/Network/ShrinkCarefully.hs
Owners: @dcoutts, @coot, @karknu

Prepare to make timeouts apply only to user computation
  io-sim/src/Control/Monad/IOSimPOR/Internal.hs
  io-sim/src/Control/Monad/IOSimPOR/Timeout.hs
  ouroboros-network/ouroboros-network.cabal
Owners: @dcoutts, @coot, @karknu

Move timeout to user code; tests still loop
  io-sim/how-to-use-IOSimPOR.txt
  io-sim/src/Control/Monad/IOSim.hs
  io-sim/src/Control/Monad/IOSim/Types.hs
  io-sim/src/Control/Monad/IOSimPOR/Internal.hs
  ouroboros-network/test/Test/Ouroboros/Network/PeerSelection.hs
Owners: @dcoutts, @coot, @karknu

Remove dead file
  io-sim/src/Control/Monad/IOSimPOR.hs
Owners: @dcoutts, @coot

Bug fix: conjoinPar was not actually parallel
  io-sim/io-sim.cabal
  io-sim/src/Control/Monad/IOSimPOR/QuickCheckUtils.hs
Owners: @dcoutts, @coot

Use parallel .&&. in IOSim
  io-sim/io-sim.cabal
  io-sim/src/Control/Monad/IOSim.hs
  io-sim/src/Control/Monad/IOSimPOR/QuickCheckUtils.hs
Owners: @dcoutts, @coot

Tidy up governor tests
  ouroboros-network/test/Test/Ouroboros/Network/PeerSelection.hs
Owners: @dcoutts, @coot, @karknu

Remove parallelism: it doesn't help
  io-sim/how-to-use-IOSimPOR.txt
  ouroboros-network/ouroboros-network.cabal
Owners: @dcoutts, @coot, @karknu

Remove parallelism, I said
  io-sim/io-sim.cabal
Owners: @dcoutts, @coot

Tidy up gvernor tests
  ouroboros-network/test/Test/Ouroboros/Network/PeerSelection.hs
Owners: @dcoutts, @coot, @karknu

.github/CODEOWNERS:

# Note: later rules override earlier rules.

# Default
#                                  Duncan   Marcin Karl    Nick     Pawe≈Ç        "Higher ups"
*                                  @dcoutts @coot  @karknu @nfrisby @EncodePanda @input-output-hk/consensus-superowners

# Network Team

docs                               @dcoutts @coot @karknu @njd42 @peterwthomson

io-sim                             @dcoutts @coot
io-sim-classes                     @dcoutts @coot

network-mux                        @dcoutts @coot @karknu
ntp-client                         @coot
typed-protocols                    @dcoutts @coot
typed-protocols-examples           @dcoutts @coot
Win32-network                      @dcoutts @coot

ouroboros-network-framework        @dcoutts @coot @karknu
ouroboros-network                  @dcoutts @coot @karknu
ouroboros-network/wireshark-plugin @karknu
ouroboros-network-testing          @dcoutts @coot @karknu

cardano-client                     @coot

scripts/haddocs.sh                 @coot
scripts/install.ps1                @coot
scripts/test.sh                    @coot

# Consensus Team

ouroboros-consensus/               @nfrisby @input-output-hk/consensus-superowners
ouroboros-consensus-test/          @nfrisby @input-output-hk/consensus-superowners
ouroboros-consensus-mock/          @nfrisby @input-output-hk/consensus-superowners
ouroboros-consensus-mock-test/     @nfrisby @input-output-hk/consensus-superowners
ouroboros-consensus-byron/         @nfrisby @input-output-hk/consensus-superowners
ouroboros-consensus-byronspec/     @nfrisby @input-output-hk/consensus-superowners
ouroboros-consensus-byron-test/    @nfrisby @input-output-hk/consensus-superowners
ouroboros-consensus-shelley/       @nfrisby @input-output-hk/consensus-superowners
ouroboros-consensus-shelley-test/  @nfrisby @input-output-hk/consensus-superowners
ouroboros-consensus-cardano/       @nfrisby @input-output-hk/consensus-superowners
ouroboros-consensus-cardano-test/  @nfrisby @input-output-hk/consensus-superowners

scripts/buildkite/check-stylish.sh @nfrisby @input-output-hk/consensus-superowners

# CICD

bors.toml                          @input-output-hk/devops @input-output-hk/consensus-superowners
nix/                               @input-output-hk/devops @input-output-hk/consensus-superowners
*.nix                              @input-output-hk/devops @input-output-hk/consensus-superowners
.github/workflows/                 @input-output-hk/devops @input-output-hk/consensus-superowners

cabal.project.local.ci.windows     @coot @input-output-hk/devops @input-output-hk/consensus-superowners
cabal.project.local.github-pages   @coot @input-output-hk/devops @input-output-hk/consensus-superowners
.github/workflows/github-page.yml  @coot @input-output-hk/devops @input-output-hk/consensus-superowners

.buildkite/slow-ThreadNet-tests.sh @nfrisby @input-output-hk/consensus-superowners
.buildkite/validate-mainnet.sh     @nfrisby @input-output-hk/consensus-superowners
