Repository Quviq/ouroboros-network, changes with the owners that .github/CODEOWNERS names for each.
All owners: @dcoutts, @coot, @karknu, @nfrisby, @EncodePanda, @input-output-hk/consensus-superowners, @njd42, @peterwthomson, @input-output-hk/devops

.github/CODEOWNERS:

# Note: later rules override earlier rules.

# Default
#                                  Duncan   Marcin Karl    Nick     Pawe≈Ç        "Higher ups"
*                                  @dcoutts @coot  @karknu @nfrisby @EncodePanda @input-output-hk/consensus-superowners

# Network Team

docs                               @dcoutts @coot @karknu @njd42 @peterwthomson

io-sim                             @dcoutts @coot
io-sim-classes                     @dcoutts @coot

network-mux                        @dcoutts @coot @karknu
ntp-client                         @coot
typed-protocols                    @dcoutts @coot
typed-protocols-examples           @dcoutts @coot
Win32-network                      @dcoutts @coot

ouroboros-network-framework        @dcoutts @coot @karknu
ouroboros-network                  @dcoutts @coot @karknu
ouroboros-network/wireshark-plugin @karknu
ouroboros-network-testing          @dcoutts @coot @karknu

cardano-client                     @coot

scripts/haddocs.sh                 @coot
scripts/install.ps1                @coot
scripts/test.sh                    @coot

# Consensus Team

ouroboros-consensus/               @nfrisby @input-output-hk/consensus-superowners
ouroboros-consensus-test/          @nfrisby @input-output-hk/consensus-superowners
ouroboros-consensus-mock/          @nfrisby @input-output-hk/consensus-superowners
ouroboros-consensus-mock-test/     @nfrisby @input-output-hk/consensus-superowners
ouroboros-consensus-byron/         @nfrisby @input-output-hk/consensus-superowners
ouroboros-consensus-byronspec/     @nfrisby @input-output-hk/consensus-superowners
ouroboros-consensus-byron-test/    @nfrisby @input-output-hk/consensus-superowners
ouroboros-consensus-shelley/       @nfrisby @input-output-hk/consensus-superowners
ouroboros-consensus-shelley-test/  @nfrisby @input-output-hk/consensus-superowners
ouroboros-consensus-cardano/       @nfrisby @input-output-hk/consensus-superowners
ouroboros-consensus-cardano-test/  @nfrisby @input-output-hk/consensus-superowners

scripts/buildkite/check-stylish.sh @nfrisby @input-output-hk/consensus-superowners

# CICD

bors.toml                          @input-output-hk/devops @input-output-hk/consensus-superowners
nix/                               @input-output-hk/devops @input-output-hk/consensus-superowners
*.nix                              @input-output-hk/devops @input-output-hk/consensus-superowners
.github/workflows/                 @input-output-hk/devops @input-output-hk/consensus-superowners

cabal.project.local.ci.windows     @coot @input-output-hk/devops @input-output-hk/consensus-superowners
cabal.project.local.github-pages   @coot @input-output-hk/devops @input-output-hk/consensus-superowners
.github/workflows/github-page.yml  @coot @input-output-hk/devops @input-output-hk/consensus-superowners

.buildkite/slow-ThreadNet-tests.sh @nfrisby @input-output-hk/consensus-superowners
.buildkite/validate-mainnet.sh     @nfrisby @input-output-hk/consensus-superowners

Force the list of ledger peers to WHNF.
  ouroboros-consensus-shelley/src/Ouroboros/Consensus/Shelley/Ledger/PeerSelection.hs
  ouroboros-consensus/src/Ouroboros/Consensus/NodeKernel.hs
  ouroboros-network/src/Ouroboros/Network/PeerSelection/LedgerPeers.hs
Owners: @nfrisby, @input-output-hk/consensus-superowners, @dcoutts, @coot, @karknu

ouroboros-consensus: using updated diffusion interface
  ouroboros-consensus/ouroboros-consensus.cabal
  ouroboros-consensus/src/Ouroboros/Consensus/Network/NodeToNode.hs
  ouroboros-consensus/src/Ouroboros/Consensus/Node.hs
  ouroboros-consensus/src/Ouroboros/Consensus/Node/RethrowPolicy.hs
Owners: @nfrisby, @input-output-hk/consensus-superowners

socket: SO_LINGER option
  ouroboros-network-framework/src/Ouroboros/Network/Snocket.hs
Owners: @dcoutts, @coot, @karknu

Snocket.Accept
  ouroboros-network-framework/src/Ouroboros/Network/Snocket.hs
  ouroboros-network-framework/src/Ouroboros/Network/Socket.hs
  ouroboros-network-framework/test/Test/Ouroboros/Network/Socket.hs
Owners: @dcoutts, @coot, @karknu

Sleep between 3300s and 3900s between churns
  ouroboros-network/src/Ouroboros/Network/Diffusion.hs
  ouroboros-network/src/Ouroboros/Network/PeerSelection/Governor.hs
Owners: @dcoutts, @coot, @karknu

connection-manager: server IO tests
  ouroboros-network-framework/ouroboros-network-framework.cabal
  ouroboros-network-framework/test/Main.hs
  ouroboros-network-framework/test/Test/Ouroboros/Network/Server2.hs
Owners: @dcoutts, @coot, @karknu

Basic churnGovernor based on random selection only
  ouroboros-network/src/Ouroboros/Network/Diffusion.hs
  ouroboros-network/src/Ouroboros/Network/Diffusion/Policies.hs
  ouroboros-network/src/Ouroboros/Network/PeerSelection/Governor.hs
Owners: @dcoutts, @coot, @karknu

io-sim-classes: TVar's Eq instance
  io-sim-classes/src/Control/Monad/Class/MonadSTM/Strict.hs
  io-sim/src/Control/Monad/IOSim/Internal.hs
Owners: @dcoutts, @coot

p2p-governor: peer selection without gossip
  ouroboros-network/ouroboros-network.cabal
  ouroboros-network/src/Ouroboros/Network/PeerSelection/Simple.hs
Owners: @dcoutts, @coot, @karknu

ouroboros-network-testing: generate delay with a given precision
  ouroboros-network-testing/src/Ouroboros/Network/Testing/Utils.hs
  ouroboros-network/test/Test/Ouroboros/Network/BlockFetch.hs
Owners: @dcoutts, @coot, @karknu

NodeToNodeV_7 version for full duplex connection
  ouroboros-network/src/Ouroboros/Network/NodeToNode/Version.hs
Owners: @dcoutts, @coot, @karknu

Add IOSimPOR, convert ThreadId to list of Int
  io-sim/io-sim.cabal
  io-sim/src/Control/Monad/IOSimPOR.hs
  io-sim/src/Control/Monad/IOSimPOR/Internal.hs
Owners: @dcoutts, @coot

Run threads in priority order
  io-sim/src/Control/Monad/IOSimPOR/Internal.hs
Owners: @dcoutts, @coot

Add a local and vector clock to each thread
  io-sim/John.hs
  io-sim/src/Control/Monad/IOSimPOR/Internal.hs
Owners: @dcoutts, @coot

Run threads in priority order
  io-sim/src/Control/Monad/IOSimPOR/Internal.hs
Owners: @dcoutts, @coot

Add IOSimPOR, convert ThreadId to list of Int
  io-sim/io-sim.cabal
  io-sim/src/Control/Monad/IOSimPOR.hs
  io-sim/src/Control/Monad/IOSimPOR/Internal.hs
Owners: @dcoutts, @coot

Add a local and vector clock to each thread
  io-sim/John.hs
  io-sim/src/Control/Monad/IOSimPOR/Internal.hs
Owners: @dcoutts, @coot

Fix compilation errors
  io-sim/src/Control/Monad/IOSimPOR/Internal.hs
Owners: @dcoutts, @coot

Find and fix a bug in PeerGraph shrinking
  ouroboros-network/ouroboros-network.cabal
  ouroboros-network/test/Test/Ouroboros/Network/PeerSelection/MockEnvironment.hs
  ouroboros-network/test/Test/Ouroboros/Network/PeerSelection/PeerGraph.hs
  ouroboros-network/test/Test/Ouroboros/Network/ShrinkCarefully.hs
Owners: @dcoutts, @coot, @karknu

Add detection of infinite loops to prop_governor_nolivelock
  ouroboros-network/test/Test/Ouroboros/Network/PeerSelection.hs
  ouroboros-network/test/Test/Ouroboros/Network/PeerSelection/MockEnvironment.hs
Owners: @dcoutts, @coot, @karknu

Bump thread step when descheduling
  io-sim/src/Control/Monad/IOSimPOR/Internal.hs
Owners: @dcoutts, @coot

Yield when a thread unblocks another by unmasking
  io-sim/src/Control/Monad/IOSimPOR/Internal.hs
Owners: @dcoutts, @coot

Clean up vector clock functions
  io-sim/src/Control/Monad/IOSimPOR/Internal.hs
Owners: @dcoutts, @coot

Unblocking a thread updates its vector clock
  io-sim/src/Control/Monad/IOSimPOR/Internal.hs
Owners: @dcoutts, @coot

Add vector clocks to TVars
  io-sim/src/Control/Monad/IOSimPOR/Internal.hs
Owners: @dcoutts, @coot

Add pretty-simple to dependencies
  io-sim/io-sim.cabal
Owners: @dcoutts, @coot

Improve strictness slightly
  io-sim/src/Control/Monad/IOSimPOR/Internal.hs
Owners: @dcoutts, @coot

Start tracking effects in each thread
  io-sim/src/Control/Monad/IOSimPOR/Internal.hs
Owners: @dcoutts, @coot

Reading a previously written TVar does not count as a transaction read
  io-sim/src/Control/Monad/IOSimPOR/Internal.hs
Owners: @dcoutts, @coot

Track racing steps
  io-sim/src/Control/Monad/IOSimPOR/Internal.hs
Owners: @dcoutts, @coot

Track throwTo in effects and vector clocks
  io-sim/src/Control/Monad/IOSimPOR/Internal.hs
Owners: @dcoutts, @coot

Don't step threads that have just blocked on a transaction
  io-sim/src/Control/Monad/IOSimPOR/Internal.hs
Owners: @dcoutts, @coot

Return races discovered in trace, add capability to follow a schedule
  io-sim/src/Control/Monad/IOSimPOR.hs
  io-sim/src/Control/Monad/IOSimPOR/Internal.hs
Owners: @dcoutts, @coot

snockets - monadic toBearer
  ouroboros-network-framework/src/Ouroboros/Network/ConnectionHandler.hs
  ouroboros-network-framework/src/Ouroboros/Network/ConnectionManager/Types.hs
  ouroboros-network-framework/src/Ouroboros/Network/Snocket.hs
  ouroboros-network-framework/src/Ouroboros/Network/Socket.hs
  ouroboros-network-framework/test/Test/Ouroboros/Network/ConnectionManager.hs
Owners: @dcoutts, @coot, @karknu

io-sim-classes: derive Generic instance of Time
  io-sim-classes/src/Control/Monad/Class/MonadTime.hs
Owners: @dcoutts, @coot

ouroboros-network-framework: simulated network environment
  ouroboros-network-framework/ouroboros-network-framework.cabal
  ouroboros-network-framework/src/Ouroboros/Network/IOSim.hs
Owners: @dcoutts, @coot, @karknu

io-sim: selectTraceEvents' and friends
  io-sim/src/Control/Monad/IOSim.hs
Owners: @dcoutts, @coot

network-mux: AttenuatedChannel
  network-mux/network-mux.cabal
  network-mux/src/Network/Mux/Bearer/AttenuatedChannel.hs
Owners: @dcoutts, @coot, @karknu

client-server test of network simulation environment
  ouroboros-network-framework/ouroboros-network-framework.cabal
  ouroboros-network-framework/test/Main.hs
  ouroboros-network-framework/test/Test/Ouroboros/Network/IOSim.hs
Owners: @dcoutts, @coot, @karknu

network-mux: newtype wrapper for SDUSize
  network-mux/src/Network/Mux/Bearer/Pipe.hs
  network-mux/src/Network/Mux/Bearer/Queues.hs
  network-mux/src/Network/Mux/Bearer/Socket.hs
  network-mux/src/Network/Mux/Egress.hs
  network-mux/src/Network/Mux/Types.hs
  network-mux/test/Test/Mux.hs
  ouroboros-network-framework/test/Test/Ouroboros/Network/ConnectionManager.hs
  ouroboros-network/test/Test/Mux.hs
Owners: @dcoutts, @coot, @karknu
