Repository Quviq/ouroboros-network, changes with the owners that CODEOWNERS names for each.
All owners: @dcoutts, @coot, @karknu, @nfrisby, @EncodePanda, @njd42, @peterwthomson, @devops

Distinguish test threads and SUT threads: the former have higher priority and no races are explored
  io-sim-classes/io-sim-classes.cabal
  io-sim/io-sim.cabal
  io-sim/src/Control/Monad/IOSimPOR/Internal.hs
Owners: @dcoutts, @coot

Throwing to a terminated thread will not block
  io-sim/src/Control/Monad/IOSimPOR/Internal.hs
Owners: @dcoutts, @coot

Throwing to a terminated thread will not block
  io-sim/src/Control/Monad/IOSimPOR/Internal.hs
Owners: @dcoutts, @coot

tmp
  io-sim-classes/src/Control/Monad/Class/MonadTest.hs
  network-mux/src/Network/Mux/Bearer/AttenuatedChannel.hs
  ouroboros-network-framework/src/Ouroboros/Network/IOSim.hs
  ouroboros-network-framework/src/Ouroboros/Network/InboundGovernor.hs
  ouroboros-network-framework/test/Test/Ouroboros/Network/Server2.hs
Owners: @dcoutts, @coot, @karknu

Add test file for IOSimPOR (move it later)
  io-sim/JohnQC.hs
Owners: @dcoutts, @coot

Add MonadTest
  io-sim-classes/src/Control/Monad/Class/MonadTest.hs
Owners: @dcoutts, @coot

First implementation of multiple race reversals (still buggy)
  io-sim/src/Control/Monad/IOSimPOR.hs
  io-sim/src/Control/Monad/IOSimPOR/Internal.hs
Owners: @dcoutts, @coot

tmp
  ouroboros-network-framework/src/Ouroboros/Network/ConnectionHandler.hs
  ouroboros-network-framework/src/Ouroboros/Network/InboundGovernor.hs
  ouroboros-network-framework/src/Ouroboros/Network/Server2.hs
  ouroboros-network-framework/test/Test/Ouroboros/Network/Server2.hs
Owners: @dcoutts, @coot, @karknu

Turn on parallelism in io-sim too
  io-sim/io-sim.cabal
Owners: @dcoutts, @coot

Bug fix: of course, test thread steps must be captured in non-dep for replay
  io-sim/src/Control/Monad/IOSimPOR/Internal.hs
Owners: @dcoutts, @coot

Bug fix: writing a TVar does not wake up a thread that is already running (in wakeupEffect)
  io-sim/src/Control/Monad/IOSimPOR.hs
  io-sim/src/Control/Monad/IOSimPOR/Internal.hs
Owners: @dcoutts, @coot

Don't include delayed step in the insertion of a stepMod
  io-sim/src/Control/Monad/IOSimPOR/Internal.hs
Owners: @dcoutts, @coot

Turn on assertions in io-sim
  cabal.project
Owners: @dcoutts, @coot, @karknu, @nfrisby, @EncodePanda

Eliminate duplicate traces from propPermutation
  io-sim/src/Control/Monad/IOSimPOR/Internal.hs
Owners: @dcoutts, @coot

Turn off debug trace of control extension
  io-sim/src/Control/Monad/IOSimPOR/Internal.hs
Owners: @dcoutts, @coot

Share the Trace type and related types for IOSim and IOSimPOR
  io-sim/io-sim.cabal
  io-sim/src/Control/Monad/IOSim/Internal.hs
  io-sim/src/Control/Monad/IOSim/Types.hs
  io-sim/src/Control/Monad/IOSimPOR.hs
  io-sim/src/Control/Monad/IOSimPOR/Internal.hs
  io-sim/test/Test/IOSim.hs
Owners: @dcoutts, @coot

Ensure we only reverse the FIRST race between threads, even when the first race appears in a controlled section.
  io-sim/src/Control/Monad/IOSimPOR/Internal.hs
Owners: @dcoutts, @coot

Committing some debugging stuff so I can pull
  io-sim/src/Control/Monad/IOSimPOR.hs
  io-sim/src/Control/Monad/IOSimPOR/Internal.hs
Owners: @dcoutts, @coot

Turn off some debugging messages again
  io-sim/src/Control/Monad/IOSimPOR.hs
  io-sim/src/Control/Monad/IOSimPOR/Internal.hs
Owners: @dcoutts, @coot

New invariant: there are always other actions between controlled sections. Eliminates some replicated traces.
  io-sim/src/Control/Monad/IOSimPOR/Internal.hs
Owners: @dcoutts, @coot

Bucket number of schedules explored in statistics
  io-sim/src/Control/Monad/IOSimPOR.hs
Owners: @dcoutts, @coot

Bug fix: blocked steps were being deferred as races. No longer.
  io-sim/src/Control/Monad/IOSimPOR/Internal.hs
Owners: @dcoutts, @coot

Timeouts in loop detection exclude GC time
  io-sim/src/Control/Monad/IOSimPOR.hs
  io-sim/src/Control/Monad/IOSimPOR/Timeout.hs
Owners: @dcoutts, @coot

Import types
  io-sim/src/Control/Monad/IOSimPOR.hs
Owners: @dcoutts, @coot

Add types and timeouts to .cabal file
  io-sim/io-sim.cabal
Owners: @dcoutts, @coot

Remove debugging code
  io-sim/src/Control/Monad/IOSimPOR.hs
Owners: @dcoutts, @coot

Nicer bucketing of counts
  io-sim/src/Control/Monad/IOSimPOR.hs
Owners: @dcoutts, @coot

Share IOSim type between IOSim and IOSimPOR
  io-sim/src/Control/Monad/IOSim.hs
  io-sim/src/Control/Monad/IOSim/Internal.hs
  io-sim/src/Control/Monad/IOSim/Types.hs
  io-sim/src/Control/Monad/IOSimPOR.hs
  io-sim/src/Control/Monad/IOSimPOR/Internal.hs
  io-sim/src/Control/Monad/IOSimPOR/QuickCheckUtils.hs
Owners: @dcoutts, @coot

Add QC tests for IOSimPOR
  io-sim/John.hs
  io-sim/test/Test/Control/Monad/IOSimPOR.hs
Owners: @dcoutts, @coot

Add QC tests for IOSimPOR
  io-sim/io-sim.cabal
Owners: @dcoutts, @coot

Introduce 'exploration options' to control exploration'
  io-sim/src/Control/Monad/IOSim/Types.hs
  io-sim/src/Control/Monad/IOSimPOR.hs
Owners: @dcoutts, @coot

Switch properties to supply ExplorationSpecs
  ouroboros-network/test/Test/Ouroboros/Network/PeerSelection.hs
Owners: @dcoutts, @coot, @karknu

Add ExplorationOptions here and there
  ouroboros-network/test/Test/Ouroboros/Network/PeerSelection/MockEnvironment.hs
Owners: @dcoutts, @coot, @karknu

RTS options to avoid long GC pauses
  ouroboros-network/ouroboros-network.cabal
Owners: @dcoutts, @coot, @karknu

Export some constructors to define test cases
  ouroboros-network/src/Ouroboros/Network/PeerSelection/LocalRootPeers.hs
  ouroboros-network/test/Test/Ouroboros/Network/PeerSelection/LocalRootPeers.hs
  ouroboros-network/test/Test/Ouroboros/Network/PeerSelection/PeerGraph.hs
  ouroboros-network/test/Test/Ouroboros/Network/PeerSelection/Script.hs
Owners: @dcoutts, @coot, @karknu

Generate a description of the race reversal that made a test fail
  io-sim/src/Control/Monad/IOSim/Types.hs
  io-sim/src/Control/Monad/IOSimPOR.hs
  ouroboros-network/test/Test/Ouroboros/Network/PeerSelection.hs
  ouroboros-network/test/Test/Ouroboros/Network/PeerSelection/MockEnvironment.hs
Owners: @dcoutts, @coot, @karknu

Merge Control.Monad.IOSim and Control.Monad.IOSimPOR
  io-sim/io-sim.cabal
  io-sim/src/Control/Monad/IOSim.hs
  io-sim/src/Control/Monad/IOSim/Types.hs
  io-sim/test/Test/Control/Monad/IOSimPOR.hs
  ouroboros-network/test/Test/Ouroboros/Network/PeerSelection/MockEnvironment.hs
Owners: @dcoutts, @coot, @karknu

Update IOSimPOR tests to match latest changes
  io-sim/test/Test/Control/Monad/IOSimPOR.hs
Owners: @dcoutts, @coot

Refactor propPermutations to extract 'doit' part
  io-sim/test/Test/Control/Monad/IOSimPOR.hs
Owners: @dcoutts, @coot

IOSim POR
  cabal.project
  io-sim-classes/io-sim-classes.cabal
  io-sim-classes/src/Control/Monad/Class/MonadTest.hs
  io-sim/io-sim.cabal
  io-sim/src/Control/Monad/IOSim/Types.hs
  io-sim/src/Control/Monad/IOSimPOR.hs
  io-sim/src/Control/Monad/IOSimPOR/Internal.hs
  io-sim/src/Control/Monad/IOSimPOR/QuickCheckUtils.hs
  io-sim/src/Control/Monad/IOSimPOR/Timeout.hs
  io-sim/test/Test/Control/Monad/IOSimPOR.hs
  io-sim/test/Test/IOSim.hs
  ouroboros-network/ouroboros-network.cabal
  ouroboros-network/src/Ouroboros/Network/PeerSelection/LocalRootPeers.hs
  ouroboros-network/test/Test/Ouroboros/Network/PeerSelection.hs
  ouroboros-network/test/Test/Ouroboros/Network/PeerSelection/LocalRootPeers.hs
  ouroboros-network/test/Test/Ouroboros/Network/PeerSelection/MockEnvironment.hs
  ouroboros-network/test/Test/Ouroboros/Network/PeerSelection/PeerGraph.hs
  ouroboros-network/test/Test/Ouroboros/Network/PeerSelection/Script.hs
  ouroboros-network/test/Test/Ouroboros/Network/ShrinkCarefully.hs
Owners: @dcoutts, @coot, @karknu, @nfrisby, @EncodePanda

CODEOWNERS:

# General reviewers per PR
#                       Duncan   Marcin Karl    Nick     Pawe≈Ç
*                       @dcoutts @coot  @karknu @nfrisby @EncodePanda


docs                               @dcoutts @coot @karknu @njd42 @peterwthomson

io-sim                             @dcoutts @coot
io-sim-classes                     @dcoutts @coot

network-mux                        @dcoutts @coot @karknu
ntp-client                         @coot
typed-protocols                    @dcoutts @coot
typed-protocols-examples           @dcoutts @coot
Win32-network                      @dcoutts @coot

ouroboros-network-framework        @dcoutts @coot @karknu
ouroboros-network                  @dcoutts @coot @karknu
ouroboros-network/wireshark-plugin @karknu

cardano-client                     @coot

bors.toml                          @devops
nix                                @devops
*.nix                              @devops

scripts/haddocs.hs                 @coot
scripts/install.ps1                @coot
scripts/test.sh                    @coot
