Repository Quviq/ouroboros-network, changes with the owners that CODEOWNERS names for each.
All owners: @dcoutts, @coot, @karknu, @nfrisby, @EncodePanda, @njd42, @peterwthomson, @devops

Force the list of ledger peers to WHNF.
  ouroboros-consensus-shelley/src/Ouroboros/Consensus/Shelley/Ledger/PeerSelection.hs
  ouroboros-consensus/src/Ouroboros/Consensus/NodeKernel.hs
  ouroboros-network/src/Ouroboros/Network/PeerSelection/LedgerPeers.hs
Owners: @dcoutts, @coot, @karknu, @nfrisby, @EncodePanda

ouroboros-consensus: using updated diffusion interface
  ouroboros-consensus/ouroboros-consensus.cabal
  ouroboros-consensus/src/Ouroboros/Consensus/Network/NodeToNode.hs
  ouroboros-consensus/src/Ouroboros/Consensus/Node.hs
  ouroboros-consensus/src/Ouroboros/Consensus/Node/RethrowPolicy.hs
Owners: @dcoutts, @coot, @karknu, @nfrisby, @EncodePanda

socket: SO_LINGER option
  ouroboros-network-framework/src/Ouroboros/Network/Snocket.hs
Owners: @dcoutts, @coot, @karknu

Snocket.Accept
  ouroboros-network-framework/src/Ouroboros/Network/Snocket.hs
  ouroboros-network-framework/src/Ouroboros/Network/Socket.hs
  ouroboros-network-framework/test/Test/Ouroboros/Network/Socket.hs
Owners: @dcoutts, @coot, @karknu

Sleep between 3300s and 3900s between churns
  ouroboros-network/src/Ouroboros/Network/Diffusion.hs
  ouroboros-network/src/Ouroboros/Network/PeerSelection/Governor.hs
Owners: @dcoutts, @coot, @karknu

connection-manager: server IO tests
  ouroboros-network-framework/ouroboros-network-framework.cabal
  ouroboros-network-framework/test/Main.hs
  ouroboros-network-framework/test/Test/Ouroboros/Network/Server2.hs
Owners: @dcoutts, @coot, @karknu

Basic churnGovernor based on random selection only
  ouroboros-network/src/Ouroboros/Network/Diffusion.hs
  ouroboros-network/src/Ouroboros/Network/Diffusion/Policies.hs
  ouroboros-network/src/Ouroboros/Network/PeerSelection/Governor.hs
Owners: @dcoutts, @coot, @karknu

io-sim-classes: TVar's Eq instance
  io-sim-classes/src/Control/Monad/Class/MonadSTM/Strict.hs
  io-sim/src/Control/Monad/IOSim/Internal.hs
Owners: @dcoutts, @coot

p2p-governor: peer selection without gossip
  ouroboros-network/ouroboros-network.cabal
  ouroboros-network/src/Ouroboros/Network/PeerSelection/Simple.hs
Owners: @dcoutts, @coot, @karknu

ouroboros-network-testing: generate delay with a given precision
  ouroboros-network-testing/src/Ouroboros/Network/Testing/Utils.hs
  ouroboros-network/test/Test/Ouroboros/Network/BlockFetch.hs
Owners: @dcoutts, @coot, @karknu, @nfrisby, @EncodePanda

NodeToNodeV_7 version for full duplex connection
  ouroboros-network/src/Ouroboros/Network/NodeToNode/Version.hs
Owners: @dcoutts, @coot, @karknu

Add IOSimPOR, convert ThreadId to list of Int
  io-sim/io-sim.cabal
  io-sim/src/Control/Monad/IOSimPOR.hs
  io-sim/src/Control/Monad/IOSimPOR/Internal.hs
Owners: @dcoutts, @coot

Run threads in priority order
  io-sim/src/Control/Monad/IOSimPOR/Internal.hs
Owners: @dcoutts, @coot

Add a local and vector clock to each thread
  io-sim/John.hs
  io-sim/src/Control/Monad/IOSimPOR/Internal.hs
Owners: @dcoutts, @coot

Run threads in priority order
  io-sim/src/Control/Monad/IOSimPOR/Internal.hs
Owners: @dcoutts, @coot

Add IOSimPOR, convert ThreadId to list of Int
  io-sim/io-sim.cabal
  io-sim/src/Control/Monad/IOSimPOR.hs
  io-sim/src/Control/Monad/IOSimPOR/Internal.hs
Owners: @dcoutts, @coot

Add a local and vector clock to each thread
  io-sim/John.hs
  io-sim/src/Control/Monad/IOSimPOR/Internal.hs
Owners: @dcoutts, @coot

Fix compilation errors
  io-sim/src/Control/Monad/IOSimPOR/Internal.hs
Owners: @dcoutts, @coot

Find and fix a bug in PeerGraph shrinking
  ouroboros-network/ouroboros-network.cabal
  ouroboros-network/test/Test/Ouroboros/Network/PeerSelection/MockEnvironment.hs
  ouroboros-network/test/Test/Ouroboros/Network/PeerSelection/PeerGraph.hs
  ouroboros-network/test/Test/Ouroboros/Network/ShrinkCarefully.hs
Owners: @dcoutts, @coot, @karknu

Add detection of infinite loops to prop_governor_nolivelock
  ouroboros-network/test/Test/Ouroboros/Network/PeerSelection.hs
  ouroboros-network/test/Test/Ouroboros/Network/PeerSelection/MockEnvironment.hs
Owners: @dcoutts, @coot, @karknu

Bump thread step when descheduling
  io-sim/src/Control/Monad/IOSimPOR/Internal.hs
Owners: @dcoutts, @coot

Yield when a thread unblocks another by unmasking
  io-sim/src/Control/Monad/IOSimPOR/Internal.hs
Owners: @dcoutts, @coot

Clean up vector clock functions
  io-sim/src/Control/Monad/IOSimPOR/Internal.hs
Owners: @dcoutts, @coot

Unblocking a thread updates its vector clock
  io-sim/src/Control/Monad/IOSimPOR/Internal.hs
Owners: @dcoutts, @coot

Add vector clocks to TVars
  io-sim/src/Control/Monad/IOSimPOR/Internal.hs
Owners: @dcoutts, @coot

Add pretty-simple to dependencies
  io-sim/io-sim.cabal
Owners: @dcoutts, @coot

Improve strictness slightly
  io-sim/src/Control/Monad/IOSimPOR/Internal.hs
Owners: @dcoutts, @coot

Start tracking effects in each thread
  io-sim/src/Control/Monad/IOSimPOR/Internal.hs
Owners: @dcoutts, @coot

Reading a previously written TVar does not count as a transaction read
  io-sim/src/Control/Monad/IOSimPOR/Internal.hs
Owners: @dcoutts, @coot

Track racing steps
  io-sim/src/Control/Monad/IOSimPOR/Internal.hs
Owners: @dcoutts, @coot

Track throwTo in effects and vector clocks
  io-sim/src/Control/Monad/IOSimPOR/Internal.hs
Owners: @dcoutts, @coot

Don't step threads that have just blocked on a transaction
  io-sim/src/Control/Monad/IOSimPOR/Internal.hs
Owners: @dcoutts, @coot

Return races discovered in trace, add capability to follow a schedule
  io-sim/src/Control/Monad/IOSimPOR.hs
  io-sim/src/Control/Monad/IOSimPOR/Internal.hs
Owners: @dcoutts, @coot

snockets - monadic toBearer
  ouroboros-network-framework/src/Ouroboros/Network/ConnectionHandler.hs
  ouroboros-network-framework/src/Ouroboros/Network/ConnectionManager/Types.hs
  ouroboros-network-framework/src/Ouroboros/Network/Snocket.hs
  ouroboros-network-framework/src/Ouroboros/Network/Socket.hs
  ouroboros-network-framework/test/Test/Ouroboros/Network/ConnectionManager.hs
Owners: @dcoutts, @coot, @karknu

io-sim-classes: derive Generic instance of Time
  io-sim-classes/src/Control/Monad/Class/MonadTime.hs
Owners: @dcoutts, @coot

ouroboros-network-framework: simulated network environment
  ouroboros-network-framework/ouroboros-network-framework.cabal
  ouroboros-network-framework/src/Ouroboros/Network/IOSim.hs
Owners: @dcoutts, @coot, @karknu

io-sim: selectTraceEvents' and friends
  io-sim/src/Control/Monad/IOSim.hs
Owners: @dcoutts, @coot

network-mux: AttenuatedChannel
  network-mux/network-mux.cabal
  network-mux/src/Network/Mux/Bearer/AttenuatedChannel.hs
Owners: @dcoutts, @coot, @karknu

client-server test of network simulation environment
  ouroboros-network-framework/ouroboros-network-framework.cabal
  ouroboros-network-framework/test/Main.hs
  ouroboros-network-framework/test/Test/Ouroboros/Network/IOSim.hs
Owners: @dcoutts, @coot, @karknu

network-mux: newtype wrapper for SDUSize
  network-mux/src/Network/Mux/Bearer/Pipe.hs
  network-mux/src/Network/Mux/Bearer/Queues.hs
  network-mux/src/Network/Mux/Bearer/Socket.hs
  network-mux/src/Network/Mux/Egress.hs
  network-mux/src/Network/Mux/Types.hs
  network-mux/test/Test/Mux.hs
  ouroboros-network-framework/test/Test/Ouroboros/Network/ConnectionManager.hs
  ouroboros-network/test/Test/Mux.hs
Owners: @dcoutts, @coot, @karknu

CODEOWNERS:

# General reviewers per PR
#                       Duncan   Marcin Karl    Nick     Pawe≈Ç
*                       @dcoutts @coot  @karknu @nfrisby @EncodePanda


docs                               @dcoutts @coot @karknu @njd42 @peterwthomson

io-sim                             @dcoutts @coot
io-sim-classes                     @dcoutts @coot

network-mux                        @dcoutts @coot @karknu
ntp-client                         @coot
typed-protocols                    @dcoutts @coot
typed-protocols-examples           @dcoutts @coot
Win32-network                      @dcoutts @coot

ouroboros-network-framework        @dcoutts @coot @karknu
ouroboros-network                  @dcoutts @coot @karknu
ouroboros-network/wireshark-plugin @karknu

cardano-client                     @coot

bors.toml                          @devops
nix                                @devops
*.nix                              @devops

scripts/haddocs.hs                 @coot
scripts/install.ps1                @coot
scripts/test.sh                    @coot
