Repository Quviq/ouroboros-network, changes with the owners that CODEOWNERS names for each.
All owners: @dcoutts, @coot, @karknu, @nfrisby, @EncodePanda, @njd42, @peterwthomson, @devops

CODEOWNERS:

# General reviewers per PR
#                       Duncan   Marcin Karl    Nick     Pawe≈Ç
*                       @dcoutts @coot  @karknu @nfrisby @EncodePanda


docs                               @dcoutts @coot @karknu @njd42 @peterwthomson

io-sim                             @dcoutts @coot
io-sim-classes                     @dcoutts @coot

network-mux                        @dcoutts @coot @karknu
ntp-client                         @coot
typed-protocols                    @dcoutts @coot
typed-protocols-examples           @dcoutts @coot
Win32-network                      @dcoutts @coot

ouroboros-network-framework        @dcoutts @coot @karknu
ouroboros-network                  @dcoutts @coot @karknu
ouroboros-network/wireshark-plugin @karknu

cardano-client                     @coot

bors.toml                          @devops
nix                                @devops
*.nix                              @devops

scripts/haddocs.hs                 @coot
scripts/install.ps1                @coot
scripts/test.sh                    @coot

Add missing arguments in db-analyser/Cardano.hs
  ouroboros-consensus-cardano/tools/db-analyser/Block/Cardano.hs
Owners: @dcoutts, @coot, @karknu, @nfrisby, @EncodePanda

Add AlonzoEra
  ouroboros-consensus-cardano-test/src/Test/Consensus/Cardano/Examples.hs
  ouroboros-consensus-cardano-test/src/Test/Consensus/Cardano/Generators.hs
  ouroboros-consensus-cardano-test/test/Test/Consensus/Cardano/ByronCompatibility.hs
  ouroboros-consensus-cardano-test/test/Test/Consensus/Cardano/Serialisation.hs
  ouroboros-consensus-cardano/src/Ouroboros/Consensus/Cardano.hs
  ouroboros-consensus-cardano/src/Ouroboros/Consensus/Cardano/Block.hs
  ouroboros-consensus-cardano/src/Ouroboros/Consensus/Cardano/CanHardFork.hs
  ouroboros-consensus-cardano/src/Ouroboros/Consensus/Cardano/Node.hs
  ouroboros-consensus-shelley-test/src/Test/Consensus/Shelley/Examples.hs
  ouroboros-consensus-shelley/src/Ouroboros/Consensus/Shelley/Eras.hs
Owners: @dcoutts, @coot, @karknu, @nfrisby, @EncodePanda

Fix genesisAlonzo to translate from genesisMary
  ouroboros-consensus-cardano/src/Ouroboros/Consensus/Cardano/Node.hs
Owners: @dcoutts, @coot, @karknu, @nfrisby, @EncodePanda

Add new NodeToClientV_9 and modify existing (not released) NodeToNodeV_6
  ouroboros-consensus-cardano/src/Ouroboros/Consensus/Cardano/Node.hs
  ouroboros-network/src/Ouroboros/Network/NodeToClient/Version.hs
  ouroboros-network/src/Ouroboros/Network/NodeToNode/Version.hs
Owners: @dcoutts, @coot, @karknu, @nfrisby, @EncodePanda

Remove unused patterns
  ouroboros-consensus-cardano/src/Ouroboros/Consensus/Cardano/Node.hs
Owners: @dcoutts, @coot, @karknu, @nfrisby, @EncodePanda

Add missing Alonzo change after initial review
  ouroboros-consensus-cardano-test/src/Test/Consensus/Cardano/Generators.hs
  ouroboros-consensus-cardano-test/test/Test/ThreadNet/Cardano.hs
  ouroboros-consensus-cardano/src/Ouroboros/Consensus/Cardano.hs
  ouroboros-consensus-cardano/src/Ouroboros/Consensus/Cardano/CanHardFork.hs
  ouroboros-consensus-cardano/src/Ouroboros/Consensus/Cardano/Node.hs
  ouroboros-consensus-shelley/src/Ouroboros/Consensus/Shelley/Node.hs
Owners: @dcoutts, @coot, @karknu, @nfrisby, @EncodePanda

Add dependency on cardano-ledger-alonzo
  cabal.project
  ouroboros-consensus-cardano/ouroboros-consensus-cardano.cabal
  ouroboros-consensus-shelley/ouroboros-consensus-shelley.cabal
Owners: @dcoutts, @coot, @karknu, @nfrisby, @EncodePanda

Drop support for GHC 8.6.5
  .github/workflows/build.yml
Owners: @dcoutts, @coot, @karknu, @nfrisby, @EncodePanda

Implement support for cardano-ping over unix sockets
  network-mux/demo/cardano-ping.hs
Owners: @dcoutts, @coot, @karknu

Refactor to decouple consensus modes
  ouroboros-consensus-cardano-test/test/Test/Consensus/Cardano/Serialisation.hs
  ouroboros-consensus-cardano/ouroboros-consensus-cardano.cabal
  ouroboros-consensus-cardano/src/Ouroboros/Consensus/Cardano.hs
  ouroboros-consensus-cardano/src/Ouroboros/Consensus/Cardano/CanHardFork.hs
  ouroboros-consensus-cardano/src/Ouroboros/Consensus/Cardano/Node.hs
  ouroboros-consensus-cardano/src/Ouroboros/Consensus/Cardano/ShelleyBased.hs
  ouroboros-consensus-cardano/src/Ouroboros/Consensus/Cardano/ShelleyHFC.hs
  ouroboros-consensus-shelley/ouroboros-consensus-shelley.cabal
  ouroboros-consensus-shelley/src/Ouroboros/Consensus/Shelley/Ledger/Block.hs
  ouroboros-consensus-shelley/src/Ouroboros/Consensus/Shelley/ShelleyBased.hs
  ouroboros-consensus-shelley/src/Ouroboros/Consensus/Shelley/ShelleyHFC.hs
  ouroboros-consensus/ouroboros-consensus.cabal
  ouroboros-consensus/src/Ouroboros/Consensus/HardFork.hs
  ouroboros-consensus/src/Ouroboros/Consensus/Protocol.hs
Owners: @dcoutts, @coot, @karknu, @nfrisby, @EncodePanda

Add support for a rsp time tracer
  ouroboros-consensus-test/test-consensus/Test/Consensus/MiniProtocol/ChainSync/Client.hs
  ouroboros-consensus/src/Ouroboros/Consensus/Network/NodeToNode.hs
  ouroboros-consensus/src/Ouroboros/Consensus/Node/Tracers.hs
  ouroboros-network-framework/ouroboros-network-framework.cabal
  ouroboros-network-framework/src/Ouroboros/Network/Util/TaggedObserve.hs
  ouroboros-network/protocol-tests/Ouroboros/Network/Protocol/ChainSync/Test.hs
  ouroboros-network/src/Ouroboros/Network/Protocol/ChainSync/ClientPipelined.hs
Owners: @dcoutts, @coot, @karknu, @nfrisby, @EncodePanda

handshake: added ProtocolTimeLimits to HandshakeArguments
  ouroboros-network-framework/demo/ping-pong.hs
  ouroboros-network-framework/src/Ouroboros/Network/Protocol/Handshake.hs
  ouroboros-network-framework/src/Ouroboros/Network/Protocol/Handshake/Codec.hs
  ouroboros-network-framework/src/Ouroboros/Network/Socket.hs
  ouroboros-network-framework/test/Test/Ouroboros/Network/Socket.hs
  ouroboros-network-framework/test/Test/Ouroboros/Network/Subscription.hs
Owners: @dcoutts, @coot, @karknu

handshake: ProtocolTimeLmits in ouroboros-network
  ouroboros-network/demo/chain-sync.hs
  ouroboros-network/src/Ouroboros/Network/NodeToClient.hs
  ouroboros-network/src/Ouroboros/Network/NodeToNode.hs
  ouroboros-network/test/Test/Socket.hs
Owners: @dcoutts, @coot, @karknu

network: add headerForgeUTCTime field to BlockFetchConsensusInterface
  ouroboros-consensus/src/Ouroboros/Consensus/NodeKernel.hs
  ouroboros-network/demo/chain-sync.hs
  ouroboros-network/ouroboros-network.cabal
  ouroboros-network/src/Ouroboros/Network/BlockFetch.hs
  ouroboros-network/src/Ouroboros/Network/BlockFetch/ClientState.hs
  ouroboros-network/src/Ouroboros/Network/Testing/ConcreteBlock.hs
  ouroboros-network/test/Ouroboros/Network/BlockFetch/Examples.hs
Owners: @dcoutts, @coot, @karknu, @nfrisby, @EncodePanda

Trace block propagation delay
  ouroboros-consensus-test/src/Test/ThreadNet/Network.hs
  ouroboros-consensus/src/Ouroboros/Consensus/Network/NodeToNode.hs
  ouroboros-network/src/Ouroboros/Network/BlockFetch.hs
  ouroboros-network/src/Ouroboros/Network/BlockFetch/Client.hs
  ouroboros-network/src/Ouroboros/Network/BlockFetch/ClientState.hs
  ouroboros-network/test/Test/Ouroboros/Network/BlockFetch.hs
Owners: @dcoutts, @coot, @karknu, @nfrisby, @EncodePanda

Use the haTimeLimits on the server side.
  ouroboros-network-framework/src/Ouroboros/Network/Protocol/Handshake.hs
Owners: @dcoutts, @coot, @karknu

Add point to TraceBlockFetchServerSendBlock
  ouroboros-consensus/src/Ouroboros/Consensus/MiniProtocol/BlockFetch/Server.hs
Owners: @dcoutts, @coot, @karknu, @nfrisby, @EncodePanda

Add point to TraceBlockFetchServerSendBlock
  ouroboros-consensus/src/Ouroboros/Consensus/MiniProtocol/BlockFetch/Server.hs
Owners: @dcoutts, @coot, @karknu, @nfrisby, @EncodePanda

haTimeLimits init
  ouroboros-network/src/Ouroboros/Network/Diffusion.hs
Owners: @dcoutts, @coot, @karknu

[WIP] Integrate alonzo/impl
  cabal.project
  nix/haskell.nix
  nix/sources.json
  ouroboros-consensus-cardano-test/ouroboros-consensus-cardano-test.cabal
  ouroboros-consensus-cardano-test/src/Test/Consensus/Cardano/Generators.hs
  ouroboros-consensus-cardano/src/Ouroboros/Consensus/Cardano/Node.hs
  ouroboros-consensus-cardano/tools/db-analyser/Block/Shelley.hs
  ouroboros-consensus-shelley-test/src/Test/Consensus/Shelley/Examples.hs
  ouroboros-consensus-shelley/src/Ouroboros/Consensus/Shelley/Eras.hs
  ouroboros-consensus-shelley/src/Ouroboros/Consensus/Shelley/Ledger/Ledger.hs
  ouroboros-consensus/src/Ouroboros/Consensus/HardFork/History/Summary.hs
  ouroboros-consensus/src/Ouroboros/Consensus/HardFork/History/Util.hs
  shell.nix
Owners: @dcoutts, @coot, @karknu, @nfrisby, @EncodePanda, @devops

Drop support for ghc-8.6.5
  .github/workflows/build.yml
  cabal.project
Owners: @dcoutts, @coot, @karknu, @nfrisby, @EncodePanda

connection-manager: updated diffusion
  ouroboros-network/ouroboros-network.cabal
  ouroboros-network/src/Ouroboros/Network/Diffusion.hs
  ouroboros-network/src/Ouroboros/Network/Diffusion/Policies.hs
  ouroboros-network/src/Ouroboros/Network/NodeToNode.hs
Owners: @dcoutts, @coot, @karknu

connection-manager: simulation test
  ouroboros-network-framework/ouroboros-network-framework.cabal
  ouroboros-network-framework/src/Ouroboros/Network/Snocket.hs
  ouroboros-network-framework/test/Main.hs
  ouroboros-network-framework/test/Test/Ouroboros/Network/ConnectionManager.hs
Owners: @dcoutts, @coot, @karknu

ouroboros-consensus-cardano: node-to-node versions
  ouroboros-consensus-cardano/src/Ouroboros/Consensus/Cardano/Node.hs
Owners: @dcoutts, @coot, @karknu, @nfrisby, @EncodePanda

MuxMode module with various 'MuxMode' singletons
  ouroboros-network-framework/ouroboros-network-framework.cabal
  ouroboros-network-framework/src/Ouroboros/Network/MuxMode.hs
Owners: @dcoutts, @coot, @karknu

connection-manager: server
  ouroboros-network-framework/ouroboros-network-framework.cabal
  ouroboros-network-framework/src/Ouroboros/Network/ConnectionManager/Core.hs
  ouroboros-network-framework/src/Ouroboros/Network/Server2.hs
  ouroboros-network-framework/src/Ouroboros/Network/Server2/ControlChannel.hs
Owners: @dcoutts, @coot, @karknu

Improved tracing when ledger peers is disabled
  ouroboros-network/src/Ouroboros/Network/PeerSelection/LedgerPeers.hs
Owners: @dcoutts, @coot, @karknu

Re-enable support for NodeToNodeV_5
  ouroboros-consensus-cardano/src/Ouroboros/Consensus/Cardano/Node.hs
Owners: @dcoutts, @coot, @karknu, @nfrisby, @EncodePanda

connection-manager: types & implementation
  ouroboros-network-framework/ouroboros-network-framework.cabal
  ouroboros-network-framework/src/Ouroboros/Network/ConnectionManager/Core.hs
  ouroboros-network-framework/src/Ouroboros/Network/ConnectionManager/Types.hs
Owners: @dcoutts, @coot, @karknu

connection-manager: spec
  docs/connection-manager-spec/connection-manager.bib
  docs/connection-manager-spec/connection-manager.tex
  nix/network-docs.nix
Owners: @dcoutts, @coot, @karknu, @njd42, @peterwthomson, @devops

p2p-governor: implement PeerStateActions
  ouroboros-network/ouroboros-network.cabal
  ouroboros-network/src/Ouroboros/Network/PeerSelection/PeerStateActions.hs
Owners: @dcoutts, @coot, @karknu

demo connection-manager isn't buildable
  ouroboros-network-framework/ouroboros-network-framework.cabal
Owners: @dcoutts, @coot, @karknu

Use ledger as a source for publicRootPeers
  ouroboros-consensus-shelley/src/Ouroboros/Consensus/Shelley/Ledger/PeerSelection.hs
  ouroboros-consensus/src/Ouroboros/Consensus/Node.hs
  ouroboros-network/src/Ouroboros/Network/Diffusion.hs
  ouroboros-network/src/Ouroboros/Network/PeerSelection/LedgerPeers.hs
  ouroboros-network/src/Ouroboros/Network/PeerSelection/RootPeersDNS.hs
  ouroboros-network/src/Ouroboros/Network/PeerSelection/Simple.hs
  ouroboros-network/test/Test/LedgerPeers.hs
Owners: @dcoutts, @coot, @karknu, @nfrisby, @EncodePanda

Keep lookup results for different domains separate
  ouroboros-network/src/Ouroboros/Network/PeerSelection/RootPeersDNS.hs
Owners: @dcoutts, @coot, @karknu

PoolStake: derive Real instance
  ouroboros-network/src/Ouroboros/Network/PeerSelection/LedgerPeers.hs
Owners: @dcoutts, @coot, @karknu

p2p-governor: localRootPersProvider
  ouroboros-network/src/Ouroboros/Network/PeerSelection/RootPeersDNS.hs
  ouroboros-network/src/Ouroboros/Network/PeerSelection/Simple.hs
Owners: @dcoutts, @coot, @karknu

connection-manager: demo
  ouroboros-network-framework/demo/connection-manager.hs
  ouroboros-network-framework/ouroboros-network-framework.cabal
  scripts/ip.sh
  typed-protocols-examples/src/Network/TypedProtocol/ReqResp/Examples.hs
Owners: @dcoutts, @coot, @karknu, @nfrisby, @EncodePanda

connection-manager: ConnectionHandler
  ouroboros-network-framework/ouroboros-network-framework.cabal
  ouroboros-network-framework/src/Ouroboros/Network/ConnectionHandler.hs
  ouroboros-network-framework/src/Ouroboros/Network/Mux.hs
  ouroboros-network-framework/src/Ouroboros/Network/Protocol/Handshake.hs
  ouroboros-network-framework/src/Ouroboros/Network/RethrowPolicy.hs
Owners: @dcoutts, @coot, @karknu

Hot / Warm / Established distinction
  ouroboros-network-framework/src/Ouroboros/Network/Mux.hs
Owners: @dcoutts, @coot, @karknu

Config for ledgerpeers
  ouroboros-network/src/Ouroboros/Network/PeerSelection/LedgerPeers.hs
Owners: @dcoutts, @coot, @karknu
